/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}
/* ------------------------------------------------------------------- */
@font-face {
  font-family: Norse-Bold;
  src: url(./fonts/Norse-Bold.otf);
}

body {
  display: flex;
  flex-direction: row;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 70px;
  gap: 50px;
}

aside {
  display: flex;
  position: relative;
  overflow: hidden;
  justify-content: center;
}

.norse-font {
  font-family: Norse-Bold;
  font-size: 100px;
}

.side-image {
  object-fit: cover;
  height: 100vh;
}

.odin-overlay {
  display: flex;
  position: absolute;
  top: 10%;
  left: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  background-color:rgba(0, 0, 0, 0.5);
}

.odin-overlay p {
  color: white;
}

.credit {
  position: absolute;
  bottom: 10px;
  color: black;
  font-size: 0.8rem;
  font-weight: bold;
}

.credit a {
  color: black;
}

.credit a:hover {
  color: blue;
}

.intro {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-size: larger;
  gap: 20px;
}

.form-area {
  padding: 25px;
  box-shadow: 0 0 10px lightgray;
}

.form-area h2 {
  margin-bottom: 20px;
}

form ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 200px;
  padding: 0;
  gap: 15px;
}

form ul li {
  display: flex;
  flex-direction: column;
  width: 350px;
}

input {
  border: 1px solid #E5E7EB;
  border-radius: 5px;
}

input:focus {
  outline: none;
  border: 2px solid blue;
  box-shadow: 0 0 10px #719ECE;
}

input:invalid {
  outline: none;
  border: 2px solid red;
  box-shadow: 0 0 10px lightcoral;
}

label {
  font-weight: 500;
  font-size: smaller;
}